{% extends 'base.html' %}

{% block content %}

    <
<!-- Clientes-section start -->
    <div class="container">
        <h3>Pagina de teste da base de dados</h3>
        <h4>Clientes</h4>
        <div class="row">
            <form action="" method="post">
                <div class="col-12">
                    Nome
                    <input type="text" name="Nome" id="">
                    E-mail
                    <input type="email" name="Email" id="">
                    Password
                    <input type="password" name="Password" id="">
                    <input type="button" value="Submeter">
                </div>
            </form>
        </div>
    </div>
        <div class="row">
            <form action="" method="get">

            </form>
        </div>
    <hr>
    </div>  
<!-- Clientes-section end -->
<!-- Veiculos-section start -->
    <div class="container">
        <h4>Veiculos</h4>
        <dic class="row">

        </dic>

    <hr>
    </div>
        
<!-- Veiculos-section end -->
<!-- Reservas-section start -->
    <div class="container">
        <h4>Veiculos</h4>
        <dic class="row">

        </dic>

    <hr>
    </div>
<!-- Reservas-section end -->
      
{% endblock %}