<!DOCTYPE html>

<html lang="pt-pt">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>RentCar-Admin</title>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% block body %}{% endblock %}

    <!-- Flash mensage renderization start
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div class="container mt-1">
          {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
    Flash mensage renderization end -->
    <!-- BootStrap Style -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>

<!--  header-section start  -->

<!-- Administrar Veiculos-section start -->
<section>
<div class="container mt-5 bg-secondary text-bg-secondary">
    <h3 class="title">Administrar Veiculos </h3>
    <form action="{{ url_for('admin') }}" method="post" enctype="multipart/form-data">
        <div class="row mt-3">
            <div class="col">
                <label for="marca">Marca:</label>
                <input class="form-control" id="marca" name="marca" placeholder="Marca" type="text" size="50" required/>
            </div>
            <div class="col">
                <label for="modelo">Modelo:</label>
                <input class="form-control" id="modelo" name="modelo" placeholder="Modelo" type="text" size="50" required/>
            </div>
            <div class="col">
                <label for="categoria" class="form-label">Categoria do Veículo:</label>
                <select class="form-select" id="categoria" name="categoria" required>
                    <option value="" selected disabled>Selecione a Categoria</option>
                    <option value="Pequeno">Pequeno</option>
                    <option value="Médio">Médio</option>
                    <option value="Grande">Grande</option>
                    <option value="SUV">SUV</option>
                    <option value="Luxo">Luxo</option>
                </select>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <label for="transmissao" class="form-label">Tipo de Transmissão:</label>
                <select class="form-select" id="transmissao" name="transmissao" required>
                    <option value="" selected disabled>Selecione o tipo de transmissão</option>
                    <option value="Automatico">Automático</option>
                    <option value="Manual">Manual</option>
                </select>
            </div>
            <div class="col">
                <label for="tipo_veiculo" class="form-label">Tipo de Veículo:</label>
                <select class="form-select" id="tipo_veiculo" name="tipo_veiculo" required>
                    <option value="" selected disabled>Selecione o Tipo de Veículo</option>
                    <option value="Carro">Carro</option>
                    <option value="Mota">Mota</option>
                </select>
            </div>
            <div class="col">
                <label for="capacidade_pessoas" class="form-label">Capacidade/Lotação:</label>
                <input class="form-control"
                       type="number"
                       name="capacidade_pessoas"
                       id="capacidade_pessoas"
                       placeholder="Capacidade de Pessoas"
                       min="1"
                       max="9"
                       required>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-2">
                <label for="valor_diaria" class="form-label">Preço por dia:</label>
                <input class="form-control"
                       type="number"
                       name="valor_diaria"
                       id="valor_diaria"
                       step="0.01"
                       min="0"
                       placeholder="Valor da Diária 12.34€"
                       required>
            </div>
            <div class="col-6">
                <label for="imagem" class="form-label">Imagem do carro:</label>
                <input class="form-control"
                       type="file"
                       name="imagem"
                       id="imagem"
                       accept="image/*">
                <div class="form-text">Formatos aceites: JPG, PNG, GIF (máx. 5MB)</div>
            </div>
            <div class="col-4">
                <label for="matricula">Matricula:</label>
                <input class="form-control" type="text" name="matricula" id="matricula" size="10" placeholder="Matricula do Veiculo" required/>

            </div>
        </div>
        <div class="row mt-3">
            <div class="col">

                <input class="form-control" type="text" name="cor" id="cor" size="30" placeholder="Cor do Veiculo" required/>
            </div>
            <div class="col">

                <input class="form-control" type="number" name="ano" id="ano" step="1" min="0" placeholder="Ano do Veiculo" required/>
            </div>
            <div class="col">

                <input class="form-control" type="number" name="kilometragem" id="kilometragem" step="1" min="1" placeholder="Kilometragem"/>
            </div>
        </div>
         <div class="row mt-3">
            <div class="col">
                <label for="data_ultima_revisao">Data Ultima Revisão:</label>
                <input class="form-control" type="date" name="data_ultima_revisao" id="data_ultima_revisao" min="2020-01-01" max="2099-12-31" autocomplete="bday" required/>
            </div>
            <div class="col">
                <label for="data_proxima_revisao">Data Proxima Revisão:</label>
                <input class="form-control" type="date" name="data_proxima_revisao" id="data_proxima_revisao" min="2020-01-01" max="2099-12-31" autocomplete="bday" required/>
            </div>
            <div class="col">
                <label for="data_ultima_inspecao">Data Ultima Inspeção:</label>
                <input class="form-control" type="date" name="data_ultima_inspecao" id="data_ultima_inspecao" min="2020-01-01" max="2099-12-31" autocomplete="bday" required/>
            </div>
        </div>
        <div class="row mt-3">
            <div class="mx-auto" style="width:200px">
                <button class="btn btn-primary" type="submit" >Adicionar Veiculo</button>

            </div>
        </div>
    </form>
</div>

</section>
<!-- Administrar Veiculos-section end -->
<!-- footer-section start -->       <!-- footer-section end -->
<!-- BootStrap script -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

</body>
</html>


