{% extends 'base.html' %}

{% block content %}
<!-- inner-apge-banner start -->
<section class="inner-page-banner bg_img overlay-3" data-background="static/images/inner-page-bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="page-title">Iniciar sessão</h2>
                <ol class="page-list">
                    <li><a href="{{ url_for('home')}}"><i class="fa fa-home"></i>Início</a></li>
                    <li>Iniciar sessão</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<!-- inner-apge-banner end -->
<!-- Flash mensage renderization start -->
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div class="container mt-1">
      {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}
<!-- Flash mensage renderization end -->
<!-- login-section start -->
<section class="login-section pt-120 pb-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="login-block text-center">
                    <div class="login-block-inner">
                        <h3 class="title">inicie sessão na sua conta </h3>
                        <form class="login-form" action="{{ url_for('login') }}" method="post">
                            <div class="frm-group text-center">
                                <a class="facebook" href="#0">facebook</a>
                                <a class="google" href="#0">google plus</a>
                                <a class="twitter" href="#0">twitter</a>
                            </div>
                            <div class="frm-group text-center">
                                <span class="ou">ou</span>
                            </div>
                            <div class="frm-group">
                                <input id="email" name="email" placeholder="O seu E-mail" type="text"/>
                            </div>
                            <div class="frm-group">
                                <input id="password" name="password" placeholder="Digite a sua Password" type="password"/>
                            </div>
                            <div class="frm-group">
                                <input type="submit" value="iniciar sessão"/>
                            </div>
                        </form>
                        <p><a href="{{ url_for('registration')}}">Ainda não tem conta aqui?</a><a href="{{ url_for('contact')}}">Esqueceu-se da password?</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- login-section end -->
{% endblock %}