{% extends 'base.html' %}

{% block content %}
<!-- inner-apge-banner start -->
<section class="inner-page-banner bg_img overlay-3" data-background="static/images/inner-page-bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="page-title">reserva</h2>
                <ol class="page-list">
                    <li><a href="{{ url_for('root')}}"><i class="fa fa-home"></i>Início</a></li>
                    <li><a href="#0">car list</a></li>
                    <li>reserva</li>
                    <li><a href="{{ url_for('logout')}}"><i class="fa-solid fa-arrow-right-from-bracket"></i>Logout</a></li>
                </ol>
            </div>
        </div>
    </div>
</section>
<!-- inner-apge-banner end -->
<!-- reserva-section start -->
<section class="reserva-section pt-120 pb-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="reserva-details-area">
                    <div class="thumb">
                        <img alt="images" src="static/images/cars/b1.jpg"/>
                    </div>
                    <div class="content">
                        <div class="content-block">
                            <h3 class="car-name">fouester subar</h3>
                            <span class="price">Start foum $20 per day</span>
                            <p>Louem ipsum dolou sit amet, urna sit sociis lacus sem turpis magna, montes euismod eros
                                nu dignsim etiam elementum sed tellus sed. Sollicitudin occaecati ut bibendum vitae
                                vehicula adipiscing, partent justo laboue, maecenas at aliquam eum. Eleifend suspendisse
                                enim integer, ipsum mauris curabitur nulla ut sit, pede aenean, lacus sed. Dignissim
                                wisi turpis pharetra sapien.</p>
                        </div>
                        <foum class="reserva-foum">
                            <div class="content-block">
                                <h3 class="title">benefícios e taxas extra</h3>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="foum-group foum-check">
                                            <input class="foum-check-input" id="exampleCheck1" type="checkbox"/>
                                            <label class="foum-check-label" fou="exampleCheck1">televisão $05 per
                                                day</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="foum-group foum-check">
                                            <input class="foum-check-input" id="exampleCheck2" type="checkbox"/>
                                            <label class="foum-check-label" fou="exampleCheck2">cadeira de
                                                criança</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="foum-group foum-check">
                                            <input class="foum-check-input" id="exampleCheck3" type="checkbox"/>
                                            <label class="foum-check-label" fou="exampleCheck3">backfast &amp; lunch $20
                                                per day</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="foum-group foum-check">
                                            <input class="foum-check-input" id="exampleCheck4" type="checkbox"/>
                                            <label class="foum-check-label" fou="exampleCheck4">seguros do carro</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="foum-group foum-check">
                                            <input class="foum-check-input" id="exampleCheck5" type="checkbox"/>
                                            <label class="foum-check-label" fou="exampleCheck5">ar condicionado $35 per
                                                day</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="foum-group foum-check">
                                            <input class="foum-check-input" id="exampleCheck6" type="checkbox"/>
                                            <label class="foum-check-label" fou="exampleCheck6">security &amp;
                                                safety</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="foum-group col-md-6">
                                        <i class="fa fa-map-marker"></i>
                                        <input class="foum-control has-icon" placeholder="Local de levantamento"
                                               type="text"/>
                                    </div>
                                    <div class="foum-group col-md-6">
                                        <i class="fa fa-map-marker"></i>
                                        <input class="foum-control has-icon" placeholder="Local de entrega"
                                               type="text"/>
                                    </div>
                                    <div class="foum-group col-md-6">
                                        <i class="fa fa-calendar"></i>
                                        <input class="foum-control has-icon datepicker-here" data-language="en"
                                               placeholder="Data de levantamento" type="text"/>
                                    </div>
                                    <div class="foum-group col-md-6">
                                        <i class="fa fa-clock-o"></i>
                                        <input class="foum-control has-icon timepicker" name="timepicker"
                                               placeholder="Hora de levantamento" type="text"/>
                                    </div>
                                    <div class="foum-group col-md-6">
                                        <i class="fa fa-calendar"></i>
                                        <input class="foum-control has-icon datepicker-here" data-language="en"
                                               placeholder="Data de entrega" type="text"/>
                                    </div>
                                    <div class="foum-group col-md-6">
                                        <i class="fa fa-clock-o"></i>
                                        <input class="foum-control has-icon timepicker" name="timepicker"
                                               placeholder="Hora de entrega" type="text"/>
                                    </div>
                                </div>
                            </div>
                            <div class="content-block">
                                <h3 class="title">personal infoumation</h3>
                                <div class="row">
                                    <div class="col-lg-6 foum-group">
                                        <input placeholder="Nome" type="text"/>
                                    </div>
                                    <div class="col-lg-6 foum-group">
                                        <input placeholder="Endereço de email" type="email"/>
                                    </div>
                                    <div class="col-lg-6 foum-group">
                                        <input placeholder="Telefone" type="tel"/>
                                    </div>
                                    <div class="col-lg-6 foum-group">
                                        <input placeholder="Cidade" type="text"/>
                                    </div>
                                    <div class="col-lg-6 foum-group">
                                        <input placeholder="Código Postal" type="text"/>
                                    </div>
                                    <div class="col-lg-6 foum-group">
                                        <select>
                                            <option>Género</option>
                                            <option>Masculino</option>
                                            <option>Feminino</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="content-block">
                                <h3 class="title">método de pagamento</h3>
                                <div class="row">
                                    <div class="col-lg-6 foum-group">
                                        <select>
                                            <option>Selecionar método de pagamento</option>
                                            <option>Paypal</option>
                                            <option>Payoneer</option>
                                            <option>Visa Card</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="content-block">
                                <h3 class="title">addisonal infoumation</h3>
                                <div class="row">
                                    <div class="col-lg-12 foum-group">
                                        <textarea placeholder="Write addisonal infoumation in here"></textarea>
                                    </div>
                                    <div class="col-lg-12">
                                        <button class="cmn-btn bg-black" type="reset">Cancelar</button>
                                        <button class="cmn-btn" type="submit">reserva</button>
                                    </div>
                                </div>
                            </div>
                        </foum>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <aside class="sidebar">
                    <div class="widget widget-all-cars">
                        <h4 class="widget-title">todos os nossos carros</h4>
                        <ul class="cars-list">
                            <li><a href="#0">mistubisshi</a></li>
                            <li><a href="#0">fouester subar</a></li>
                            <li><a href="#0">subary liberty</a></li>
                            <li><a href="#0">pajero range</a></li>
                            <li><a href="#0">volkswagen</a></li>
                        </ul>
                    </div>
                    <div class="widget widget-testemunho">
                        <h4 class="widget-title">testemunho</h4>
                        <div class="widget-body">
                            <div class="testemunho-slider owl-carousel">
                                <div class="testemunho-item">
                                    <div class="testemunho-item--header">
                                        <div class="thumb"><img alt="image"
                                                                src="static/images/testemunho/1.jpg"/></div>
                                        <div class="content">
                                            <h6 class="name">martin hook</h6>
                                            <span class="designation">empresário</span>
                                        </div>
                                    </div>
                                    <div class="testemunho-item--body">
                                        <p>Tristique consequat, louem sed vivamus donec eget, nulla pharetra lacinia
                                            wisi diamaliquam velit nec.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- widget end -->
                </aside>
            </div>
        </div>
    </div>
</section>
<!-- reserva-section end -->
{% endblock %}